<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yapp.com.railrotalk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/railtalk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activities.intro.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.chatting.ChattingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.login.MemberSettingActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".activities.chatting.MakingChattingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.login.SignupActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".activities.chatting.UserDetailActivity"></activity>
    </application>

</manifest>